.posts{
    display: flex;
    align-items: center;
    flex-direction: column;
    .buttonsPost{
        position: absolute;
        top: 0;
        right: 5px;
        
        .buttonsOperation{
            border: 0;
            height: 0;
            cursor: pointer;
            padding-left: 10px;
        }
    }
}