.container-post{
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    border: 1px solid #CCCCCC;
    width: 70%;    
    height: 150px;
    h1{
        background-color: #3D51D7;
        color: #FFFFFF;
        padding-left:20px ;
    }
    h3{
        padding-left:20px ;
        font-size: 14px;
        overflow-y: scroll;
    }
}