header{ 
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    border-bottom: 1px solid #000;
    
    .nav{
        margin-right: 100px;
        
        ul{
            list-style: none;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            gap: 20px;
        }
    }
}