.form-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 50px;

    .names{
        display: flex;
        gap: 50px;
    }
    .info-user{
        display: flex;
        gap: 40px;
        flex-direction: column;
        
        .inputBg{
            width: 760px;    
        }
    }
    .buttons{
        gap: 40px;
        .success{
            margin-left: 40px;
        }
    }
}
a{
    text-decoration: none;
    color: #000;
}